header {
  /*grid-area: header;*/
  justify-content: space-between;
  display: flex;
  background-color: #d89b4b; }
  header div.logo {
    padding-top: none;
    padding-left: none;
    width: 70px; }
  header nav.barra_menu {
    grid-column-start: 3;
    grid-row-start: 1/2;
    grid-column-end: 4;
    width: fit-content;
    justify-content: flex-end;
    /*background-color: deepskyblue;*/ }
    header nav.barra_menu ul {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      list-style-type: none; }
      header nav.barra_menu ul li {
        padding-right: 20px; }
        header nav.barra_menu ul li a:hover {
          color: #553714;
          font-size: 20px;
          border-bottom: none; }

main {
  grid-area: main;
  background-image: linear-gradient(to bottom, #ece3d7, #d89b4b); }
  main section {
    display: flex;
    flex-direction: column;
    align-items: center; }
    main section span {
      padding-top: 20px;
      font-size: 25px;
      padding-bottom: 20px;
      color: #433b3b; }

footer {
  grid-area: footer;
  background-color: #d89b4b;
  color: #433b3b;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  footer h4 {
    padding-top: 20px;
    padding-left: 20px;
    font-size: 20px;
    color: white; }
  footer div.redes {
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: flex-end; }
    footer div.redes span {
      padding-right: 20px;
      right: 50px; }
      footer div.redes span i {
        font-size: 20px;
        color: white;
        padding-top: 10px; }
        footer div.redes span i i:hover {
          color: #553714;
          font-size: 30px; }
